*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

canvas {
  display: block;
}

#startScreen{
 position:fixed;
 left:-100vw;
 background-color: blue;
 width:100vw;
 height:100vh;
}
/*Fix the thing with hidden and visible and when startscreen is up and when u click start game it goes to the left and the game comes away from -100 left and comes on screen*/
.hidden{
  left:-100vw;
}

.board{
  position:fixed;
  /* HUSK: 
  Position: fixed, er meget vigtigt for at få ting til at være på skærmen. */
  
  width:100vw;
  height: 100vh;
  background:blueviolet;
}

#box1{
  position: absolute;
  border-radius: 10%;
  border:5px solid black;
  width:20%;
  height:25%;
  right: 55%;
  bottom:40%;
}
#box2{
  position: absolute;
  border-radius: 10%;
  border:5px solid black;
  width:20%;
  height:25%;
  right: 25%;
  bottom:40%;
}

#handOne{
  place-items:center;
  position:absolute;
  width:20%;
  height: 100%;
  background:rgb(19, 121, 29);
}

#handTwo{
  place-items:center;
  position:absolute;
  right:0;
  width:20%;
  height: 100%;
  background:rgb(196, 32, 11);
}

.card{
 position: relative;
 margin-top:10px;
 width:80%;
 height:18%;
 background-color:darkgoldenrod;
}


/*Things on the cards*/

.names{
  background-color: rgba(34, 0, 255, 0.6);
}

.health{
  position: absolute;
  background-color:rgba(246, 255, 0, 0.6);
  width:30%;
}
.damage{
  position: absolute;
  background-color: rgba(255, 0, 0, 0.6);
  bottom:0;
}

.healing{
  position: absolute;
  background-color:rgba(26, 255, 0, 0.6);
  bottom:0;
  right:0;
}