*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

canvas {
  display: block;
}

.screens{
  position: absolute;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
}



#startScreen{
 position:absolute;
 background-color: blue;
 width:100vw;
 height:100vh;
 place-items: center;
}

#startButton{
  position:absolute;
  width:20vw;
  height:10vh;
  border-radius: 10%;
  left:40%;
  top:50%;
}
#startButton:hover{
  cursor: pointer;
}

#LoadingText{
  position: absolute;
  top: 40%; 
  left: 50%;
  transform: translate(-50%, -50%); /*Translate is a property in CSS that allows you to modify
   the size, position or rotation of a element. and translate is the posititon*/
  font-size: 3vw;
  color: white;
  text-align: center;

}

#board{
  /* HUSK: 
  Position: fixed, er meget vigtigt for at få ting til at være på skærmen. */
  position:absolute;
  width:100vw;
  height: 100vh;
  background:blueviolet;
}

.card.activeCat{ /*card styles it cause its the higest class, but card.activeCat makes so activeCat overstyles it. This mean if you want activeCat to style it you can not just write .activeCat, you need card.activeCat*/
  width: 100%;
  height: 100%;
}

#activeCatBox1{
  position: absolute;
  place-items:center;
  border-radius: 10%;
  border:5px solid black;
  width:20%;
  height:25%;
  right: 55%;
  bottom:40%;
}
#activeCatBox2{
  position: absolute;
  place-items:center;
  border-radius: 10%;
  border:5px solid black;
  width:20%;
  height:25%;
  right: 25%;
  bottom:40%;
}

#handOne{
  place-items:center;
  position:absolute;
  width:20%;
  height: 100%;
  background:rgb(19, 121, 29);
}

#handTwo{
  place-items:center;
  position:absolute;
  right:0%;
  width:20%;
  height: 100%;
  background:rgb(196, 32, 11);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-in-out, visibility 0s linear 1s;
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity .5s ease-in-out;
}

.card{
 position: relative;
 margin-top:10px;
 width:80%;
 height:18%;
 background-color:darkgoldenrod;

 transition: border 0.3s ease;
 border:0px solid transparent;
}

.card:not(.catSelected):hover{
  border: 5px solid rgb(0, 0, 0);
  cursor:pointer;
}


/*Things on the cards*/

.names{
  background-color: rgba(34, 0, 255, 0.6);
}

.health{
  position: absolute;
  background-color:rgba(246, 255, 0, 0.6);
  width:32%;
}
.damage{
  position: absolute;
  background-color: rgba(255, 0, 0, 0.6);
  bottom:0;
}

.healing{
  position: absolute;
  background-color:rgba(26, 255, 0, 0.6);
  bottom:0;
  right:0;
}